In [1]:
import pandas as pd

path = 'datasets/data_cleaned.xlsx'
df = pd.read_excel(path)

In [87]:
ncol = len(df.columns)

cols = [x for x in df.columns.values]
col_str = ', '.join(cols)

cols

['Annee',
 'Diplôme',
 "Numéro de l'établissement",
 'Etablissement',
 "Code de l'académie",
 'Académie',
 'Code du domaine',
 'Domaine',
 'Code de la discipline',
 'Discipline',
 'situation',
 "Taux d'insertion",
 '% emplois stables',
 '% emplois à\xa0 temps plein',
 'Salaire brut annuel estimé',
 '% de diplômés boursiers',
 '% emplois cadre',
 "% emplois extérieurs à\xa0 la région de l'université",
 '% femmes',
 'cle_ETAB',
 'cle_DISC']

In [28]:
from cassandra.cluster import Cluster
from cassandra.query import UNSET_VALUE
from unidecode import unidecode

def get_query(dfrow):
    # dfrow = df.loc[.]
    
    dfrow.values
    vals = [x for x in df.loc[2]]
    parsed = []
    for e in vals:
        try:
            if e == 'ns':
                parsed.append(None)
            else:
                val = unidecode(e)
                val = '\''+ e +'\''
                parsed.append(val)
        except:
            parsed.append(e)

    print(parsed)
    cols = ['Annee','Dipl','NumeroETA','Eta','CodeACA','ACA','CodeDOM','Dom','CodeDISC','DISC','Situation',
    'TXinsertion','TXstables','TXtplein','Salaire','TXboursiers','TXcadre','TXexterieurs','TXfemmes','cle_ETAB',
    'cle_DISC']
    ncol = len(cols)
    col_str = ', '.join(cols)

    placeholder = '%s, '* ncol
    placeholder = placeholder[:-2]

    cmd = 'INSERT INTO insertion('+col_str+') VALUES('+placeholder+')'
    query = cmd % tuple(parsed)
    print(query)
    return query

def execute_query(query):
    cluster = Cluster(['172.17.0.2'])
    session = cluster.connect('univ')
    session.execute(query)
    session.shutdown()
    
def insert_df(df):
    
    for i in df.index:
        query = get_query(df.loc[i])
        execute_query(query)
        


execute_query(get_query(df.loc[1]))

[2014, "'MASTER LMD'", "'0511296G'", "'Reims - Champagne Ardenne'", "'A19'", "'Reims'", "'STS'", "'Sciences, technologies et santé'", "'disc14'", "'Sciences fondamentales'", "'30 mois après le diplôme'", 91, None, None, None, 36.0, None, None, 56, "'Reims - Champagne Ardenne_30'", "'disc14_30'"]
INSERT INTO insertion(Annee, Dipl, NumeroETA, Eta, CodeACA, ACA, CodeDOM, Dom, CodeDISC, DISC, Situation, TXinsertion, TXstables, TXtplein, Salaire, TXboursiers, TXcadre, TXexterieurs, TXfemmes, cle_ETAB, cle_DISC) VALUES(2014, 'MASTER LMD', '0511296G', 'Reims - Champagne Ardenne', 'A19', 'Reims', 'STS', 'Sciences, technologies et santé', 'disc14', 'Sciences fondamentales', '30 mois après le diplôme', 91, None, None, None, 36.0, None, None, 56, 'Reims - Champagne Ardenne_30', 'disc14_30')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:38: DeprecationWarning: The 'warn' method is deprecated, use 'warning' instead

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:413 no viable alternative at input ',' (... 'Sciences fondamentales', '30 mois après le diplôme', 91, [None],...)">

In [29]:
UNSET_VALUE

In [33]:
cluster = Cluster(['172.17.0.2'])
session = cluster.connect('univ')
ps = session.prepare("insert into insertion(id_tweet,texttweet,hashtag,url) values (?,?,?,?)")
#session.execute(ps, ("id", "hello world!", UNSET_VALUE, UNSET_VALUE));

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The 'warn' method is deprecated, use 'warning' instead
  """Entry point for launching an IPython kernel.

InvalidRequest: Error from server: code=2200 [Invalid query] message="Undefined column name id_tweet"